<a href="https://colab.research.google.com/github/jeetshah0303/Artificialintelligence/blob/main/Sampling_lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#simple random sampling code
import numpy as np 
import pandas as pd

In [2]:
#setting random seed 
np.random.seed(42)

In [3]:
#define the total number of products (population)
no_of_prods=20

In [4]:
#creating data dictionary 
data = {'product_id':np.arange(1,no_of_prods+1).tolist(),'measure':np.round(np.random.normal(loc=10, scale=0.5,size=no_of_prods),3)}

In [5]:
data

{'measure': array([10.248,  9.931, 10.324, 10.762,  9.883,  9.883, 10.79 , 10.384,
         9.765, 10.271,  9.768,  9.767, 10.121,  9.043,  9.138,  9.719,
         9.494, 10.157,  9.546,  9.294]),
 'product_id': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20]}

In [6]:
#transforming the dictionary into a dataframe 
df=pd.DataFrame(data)

In [8]:
df.head(20)

    product_id  measure
0            1   10.248
1            2    9.931
2            3   10.324
3            4   10.762
4            5    9.883
5            6    9.883
6            7   10.790
7            8   10.384
8            9    9.765
9           10   10.271
10          11    9.768
11          12    9.767
12          13   10.121
13          14    9.043
14          15    9.138
15          16    9.719
16          17    9.494
17          18   10.157
18          19    9.546
19          20    9.294

In [9]:
df.shape

(20, 2)

In [11]:
real_mean=round(df['measure'].mean(),3)
real_mean

9.914

In [13]:
#obtain a simple random sample 
simple_random_sample=df.sample(n=5).sort_values(by='product_id')
simple_random_sample

    product_id  measure
4            5    9.883
8            9    9.765
9           10   10.271
13          14    9.043
15          16    9.719

In [17]:
sample_mean=round(simple_random_sample['measure'].mean(),3)
sample_mean

9.736

In [21]:
#using slovins formula
N=no_of_prods
error_margin=0.03
n=N/(1+(N*error_margin*error_margin))
n

19.646365422396855

In [ ]:
#systemic samplic code

In [34]:
#defining a systemic sampling function 
import random
def systemic_sampling(df,step):
  indexes=np.arange(random.randint(0,4),len(df),step=step)
  systemic_sample=df.iloc[indexes]
  return systemic_sample

In [38]:
#obtain systemic sample
systemic_sample=systemic_sampling(df,3)
systemic_sample

    product_id  measure
3            4   10.762
6            7   10.790
9           10   10.271
12          13   10.121
15          16    9.719
18          19    9.546

In [39]:
#stratified random sampling 
"""ensures there is representation for each subgroup
maintains the ratio.... 
more precise results than simple random sampling.(conditions apply) """
#dividing the datasets into sub groups 
data = {'product_id':np.arange(1,no_of_prods+1).tolist(),'product_strata':np.repeat([1,2],no_of_prods/2).tolist(),'measure':np.round(np.random.normal(loc=10, scale=0.5,size=no_of_prods),3)}

In [40]:
data

{'measure': array([10.369, 10.086,  9.942,  9.849,  9.261,  9.64 ,  9.77 , 10.529,
        10.172,  9.118, 10.162,  9.807,  9.662, 10.306, 10.515, 10.466,
         9.58 ,  9.845, 10.166, 10.488]),
 'product_id': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20],
 'product_strata': [1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2]}

In [41]:
df=pd.DataFrame(data)

In [42]:
df.head(20)

    product_id  product_strata  measure
0            1               1   10.369
1            2               1   10.086
2            3               1    9.942
3            4               1    9.849
4            5               1    9.261
5            6               1    9.640
6            7               1    9.770
7            8               1   10.529
8            9               1   10.172
9           10               1    9.118
10          11               2   10.162
11          12               2    9.807
12          13               2    9.662
13          14               2   10.306
14          15               2   10.515
15          16               2   10.466
16          17               2    9.580
17          18               2    9.845
18          19               2   10.166
19          20               2   10.488

In [43]:
#now take samples in proportion and the sample them 
systemic_sample=systemic_sampling(df,3)

In [44]:
systemic_sample

    product_id  product_strata  measure
3            4               1    9.849
6            7               1    9.770
9           10               1    9.118
12          13               2    9.662
15          16               2   10.466
18          19               2   10.166